body {
    background-color:black;
    width:100vw;
    height:100vh;
}

svg {
    display:block;
    background-color:yellow;
    width:1200;
    height:600;
    margin:auto;
    margin-top:8vh ;
}


nav {
    background-color:aqua;
    width: 100vw;
    height: 5vh;
    top:0;
    left:0;
    position: absolute;
    text-align:center;
    padding:10px;
} 

.this {
    background-color: darkblue
    
}