body {
    background-color:transparent;
    width:100vw;
    height:100vh;
}

svg {
    display:block;
    background-color:oldlace;
    width:100vw;
    height:800;
    margin:auto;
    margin-top:2vh ;
}

nav {
    background-color:aqua;
    width: 100vw;
    height: 5vh;
    top:0;
    left:0;
    position: absolute;
    text-align:center;
    padding:10px;
} 

.this {
    background-color: darkblue   
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    content: 'That my shit ';
}

.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px; 
    position: absolute;
    z-index: 1;
    content: 'ODnt be scared';
}
  
.tooltip:hover .tooltiptext {
    visibility: visible;
    cursor: pointer
}