body {
    background-color:transparent;
    width:100vw;
    height:100vh;
}
/*  change the colors */

svg {
    display:block;
    background-color:oldlace;
    width:100vw;
    height:800;
    margin:auto;
    margin-top:8vh ;
}

nav {
    background-color:aqua;
    width: 100vw;
    height: 5vh;
    top:0;
    left:0;
    position: absolute;
    text-align:center;
    padding:10px;
} 

.this {
    background-color: darkblue   
}