body {
    background-color:lightblue;
    width:100vw;
    height:800
}

p{
    font-weight: bold;
    font-size:40px;
    margin: auto;
}

svg {
    display:block;
    background-color:oldlace;
    width:100vw;
    height:100vh;
    margin:0;
    margin-top:2vh ;
}

nav {
    background-color:aqua;
    width: 100vw;
    height: fit-content;
    top:0;
    left:0;
    position: absolute;
    text-align:center;
    padding:1vh;
} 


circle.title {
    background-color:yellow;
    font-size: 30px;
}


